body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e6dfcf;
  color: #333;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #333;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  background-color: #555;
  padding: 10px;
  border-radius: 5px;
}

section {
  padding: 40px 20px;
}

.hero-section {
  /* background-image: url("/assets/bg.jpg"); */
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
